<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.mapper.LoginRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.entity.LoginRecord">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="os" property="os" />
        <result column="device" property="device" />
        <result column="browser" property="browser" />
        <result column="ip" property="ip" />
        <result column="oper_type" property="operType" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, os, device, browser, ip, oper_type, remark, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_login_record a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.id != null">
                    AND a.id = #{page.pageData.id}
                </if>
                <if test="page.pageData.username != null">
                    AND a.username LIKE CONCAT('%', #{page.pageData.username}, '%')
                </if>
                <if test="page.pageData.os != null">
                    AND a.os LIKE CONCAT('%', #{page.pageData.os}, '%')
                </if>
                <if test="page.pageData.device != null">
                    AND a.device LIKE CONCAT('%', #{page.pageData.device}, '%')
                </if>
                <if test="page.pageData.browser != null">
                    AND a.browser LIKE CONCAT('%', #{page.pageData.browser}, '%')
                </if>
                <if test="page.pageData.ip != null">
                    AND a.ip LIKE CONCAT('%', #{page.pageData.ip}, '%')
                </if>
                <if test="page.pageData.operType != null">
                    AND a.oper_type = #{page.pageData.operType}
                </if>
                <if test="page.pageData.remark != null">
                    AND a.remark LIKE CONCAT('%', #{page.pageData.remark}, '%')
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.entity.LoginRecord">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.entity.LoginRecord">
        <include refid="relSelect"></include>
    </select>
</mapper>
