<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.mapper.MenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.entity.Menu">
        <id column="menu_id" property="menuId" />
        <result column="parent_id" property="parentId" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="menu_type" property="menuType" />
        <result column="sort_no" property="sortNo" />
        <result column="authority" property="authority" />
        <result column="target" property="target" />
        <result column="color" property="color" />
        <result column="uid" property="uid" />
        <result column="hide" property="hide" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id, parent_id, title, icon, path, component, menu_type, sort_no, authority, target, color, uid, hide, deleted, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_menu a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.menuId != null">
                    AND a.menu_id = #{page.pageData.menuId}
                </if>
                <if test="page.pageData.parentId != null">
                    AND a.parent_id = #{page.pageData.parentId}
                </if>
                <if test="page.pageData.title != null">
                    AND a.title LIKE CONCAT('%', #{page.pageData.title}, '%')
                </if>
                <if test="page.pageData.icon != null">
                    AND a.icon LIKE CONCAT('%', #{page.pageData.icon}, '%')
                </if>
                <if test="page.pageData.path != null">
                    AND a.path LIKE CONCAT('%', #{page.pageData.path}, '%')
                </if>
                <if test="page.pageData.component != null">
                    AND a.component LIKE CONCAT('%', #{page.pageData.component}, '%')
                </if>
                <if test="page.pageData.menuType != null">
                    AND a.menu_type = #{page.pageData.menuType}
                </if>
                <if test="page.pageData.orderNo != null">
                    AND a.sort_no = #{page.pageData.sortNo}
                </if>
                <if test="page.pageData.authority != null">
                    AND a.authority LIKE CONCAT('%', #{page.pageData.authority}, '%')
                </if>
                <if test="page.pageData.target != null">
                    AND a.target LIKE CONCAT('%', #{page.pageData.target}, '%')
                </if>
                <if test="page.pageData.color != null">
                    AND a.color LIKE CONCAT('%', #{page.pageData.color}, '%')
                </if>
                <if test="page.pageData.uid != null">
                    AND a.uid LIKE CONCAT('%', #{page.pageData.uid}, '%')
                </if>
                <if test="page.pageData.hide != null">
                    AND a.hide = #{page.pageData.hide}
                </if>
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.entity.Menu">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.entity.Menu">
        <include refid="relSelect"></include>
    </select>
    <select id="listByUserId" resultType="cn.javabb.sys.entity.Menu">
        SELECT DISTINCT b.*
        FROM sys_role_menu a
        LEFT JOIN sys_menu b ON a.menu_id = b.menu_id
        LEFT JOIN sys_role c ON a.role_id = c.role_id
        WHERE a.role_id IN ( SELECT role_id FROM sys_user_role WHERE user_id=#{userId} )
        AND b.deleted = 0 AND c.deleted=0
        <if test="menuType!=null">
            AND b.menu_type=#{menuType}
        </if>
        ORDER BY b.sort_no
    </select>
</mapper>
