<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.mapper.OperRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.entity.OperRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="model" property="model" />
        <result column="description" property="description" />
        <result column="url" property="url" />
        <result column="request_method" property="requestMethod" />
        <result column="oper_method" property="operMethod" />
        <result column="param" property="param" />
        <result column="result" property="result" />
        <result column="ip" property="ip" />
        <result column="remark" property="remark" />
        <result column="spend_time" property="spendTime" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, model, description, url, request_method, oper_method, param, result, ip, remark, spend_time, state, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_oper_record a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.id != null">
                    AND a.id = #{page.pageData.id}
                </if>
                <if test="page.pageData.userId != null">
                    AND a.user_id = #{page.pageData.userId}
                </if>
                <if test="page.pageData.model != null">
                    AND a.model LIKE CONCAT('%', #{page.pageData.model}, '%')
                </if>
                <if test="page.pageData.description != null">
                    AND a.description LIKE CONCAT('%', #{page.pageData.description}, '%')
                </if>
                <if test="page.pageData.url != null">
                    AND a.url LIKE CONCAT('%', #{page.pageData.url}, '%')
                </if>
                <if test="page.pageData.requestMethod != null">
                    AND a.request_method LIKE CONCAT('%', #{page.pageData.requestMethod}, '%')
                </if>
                <if test="page.pageData.operMethod != null">
                    AND a.oper_method LIKE CONCAT('%', #{page.pageData.operMethod}, '%')
                </if>
                <if test="page.pageData.param != null">
                    AND a.param LIKE CONCAT('%', #{page.pageData.param}, '%')
                </if>
                <if test="page.pageData.result != null">
                    AND a.result LIKE CONCAT('%', #{page.pageData.result}, '%')
                </if>
                <if test="page.pageData.ip != null">
                    AND a.ip LIKE CONCAT('%', #{page.pageData.ip}, '%')
                </if>
                <if test="page.pageData.remark != null">
                    AND a.remark LIKE CONCAT('%', #{page.pageData.remark}, '%')
                </if>
                <if test="page.pageData.spendTime != null">
                    AND a.spend_time = #{page.pageData.spendTime}
                </if>
                <if test="page.pageData.state != null">
                    AND a.state = #{page.pageData.state}
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.entity.OperRecord">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.entity.OperRecord">
        <include refid="relSelect"></include>
    </select>
</mapper>
