<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.entity.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="email_verified" property="emailVerified" />
        <result column="true_name" property="trueName" />
        <result column="id_card" property="idCard" />
        <result column="birthday" property="birthday" />
        <result column="introduction" property="introduction" />
        <result column="org_id" property="orgId" />
        <result column="state" property="state" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, `password`, nickname, avatar, sex, phone, email, email_verified, true_name, id_card, birthday, introduction, org_id, state, deleted, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_user a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.userId != null">
                    AND a.user_id = #{page.pageData.userId}
                </if>
                <if test="page.pageData.username != null">
                    AND a.username LIKE CONCAT('%', #{page.pageData.username}, '%')
                </if>
                <if test="page.pageData.password != null">
                    AND a.password LIKE CONCAT('%', #{page.pageData.password}, '%')
                </if>
                <if test="page.pageData.nickname != null">
                    AND a.nickname LIKE CONCAT('%', #{page.pageData.nickname}, '%')
                </if>
                <if test="page.pageData.avatar != null">
                    AND a.avatar LIKE CONCAT('%', #{page.pageData.avatar}, '%')
                </if>
                <if test="page.pageData.sex != null">
                    AND a.sex LIKE CONCAT('%', #{page.pageData.sex}, '%')
                </if>
                <if test="page.pageData.phone != null">
                    AND a.phone LIKE CONCAT('%', #{page.pageData.phone}, '%')
                </if>
                <if test="page.pageData.email != null">
                    AND a.email LIKE CONCAT('%', #{page.pageData.email}, '%')
                </if>
                <if test="page.pageData.emailVerified != null">
                    AND a.email_verified LIKE CONCAT('%', #{page.pageData.emailVerified}, '%')
                </if>
                <if test="page.pageData.trueName != null">
                    AND a.true_name LIKE CONCAT('%', #{page.pageData.trueName}, '%')
                </if>
                <if test="page.pageData.idCard != null">
                    AND a.id_card LIKE CONCAT('%', #{page.pageData.idCard}, '%')
                </if>
                <if test="page.pageData.birthday != null">
                    AND a.birthday LIKE CONCAT('%', #{page.pageData.birthday}, '%')
                </if>
                <if test="page.pageData.introduction != null">
                    AND a.introduction LIKE CONCAT('%', #{page.pageData.introduction}, '%')
                </if>
                <if test="page.pageData.orgId != null">
                    AND a.org_id LIKE CONCAT('%', #{page.pageData.orgId}, '%')
                </if>
                <if test="page.pageData.state != null">
                    AND a.state LIKE CONCAT('%', #{page.pageData.state}, '%')
                </if>
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.entity.User">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.entity.User">
        <include refid="relSelect"></include>
    </select>
</mapper>
