<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${table.entityName}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${table.fieldNames}
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM ${table.name} a
        <where>
            <if test="page!=null and page.pageData!=null">
#foreach($field in ${table.fields})
#if(${field.keyFlag})
                <if test="page.pageData.${field.propertyName} != null">
                    AND a.${field.name} = #{page.pageData.${field.propertyName}}
                </if>
#elseif(${field.name}=="create_time")
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
#elseif(${field.name}=="update_time")
#elseif(${field.name}=="deleted")
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
#elseif(${field.propertyType}=="Integer")
                <if test="page.pageData.${field.propertyName} != null">
                    AND a.${field.name} = #{page.pageData.${field.propertyName}}
                </if>
#else
                <if test="page.pageData.${field.propertyName} != null">
                    AND a.${field.name} LIKE CONCAT('%', #{page.pageData.${field.propertyName}}, '%')
                </if>
#end
#end
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="${package.Entity}.${table.entityName}">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="${package.Entity}.${table.entityName}">
        <include refid="relSelect"></include>
    </select>
</mapper>
