<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.repository.mapper.OrganizationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.repository.dataobject.Organization">
        <id column="org_id" property="orgId" />
        <result column="parent_id" property="parentId" />
        <result column="org_name" property="orgName" />
        <result column="org_full_name" property="orgFullName" />
        <result column="org_code" property="orgCode" />
        <result column="org_type" property="orgType" />
        <result column="leader_id" property="leaderId" />
        <result column="sort_no" property="sortNo" />
        <result column="remark" property="remark" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        org_id, parent_id, org_name, org_full_name, org_code, org_type, leader_id, sort_no, remark, deleted, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_organization a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.orgId != null">
                    AND a.org_id = #{page.pageData.orgId}
                </if>
                <if test="page.pageData.parentId != null">
                    AND a.parent_id = #{page.pageData.parentId}
                </if>
                <if test="page.pageData.orgName != null">
                    AND a.org_name LIKE CONCAT('%', #{page.pageData.orgName}, '%')
                </if>
                <if test="page.pageData.orgFullName != null">
                    AND a.org_full_name LIKE CONCAT('%', #{page.pageData.orgFullName}, '%')
                </if>
                <if test="page.pageData.orgCode != null">
                    AND a.org_code LIKE CONCAT('%', #{page.pageData.orgCode}, '%')
                </if>
                <if test="page.pageData.orgType != null">
                    AND a.org_type = #{page.pageData.orgType}
                </if>
                <if test="page.pageData.leaderId != null">
                    AND a.leader_id = #{page.pageData.leaderId}
                </if>
                <if test="page.pageData.sortNo != null">
                    AND a.sort_no = #{page.pageData.sortNo}
                </if>
                <if test="page.pageData.remark != null">
                    AND a.remark LIKE CONCAT('%', #{page.pageData.remark}, '%')
                </if>
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.repository.dataobject.Organization">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.repository.dataobject.Organization">
        <include refid="relSelect"></include>
    </select>
</mapper>
