<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.repository.mapper.RoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.repository.dataobject.RoleDO">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="remark" property="remark" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_code, remark, deleted, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*
        FROM sys_role a
        <where>
            <if test="page!=null and page.pageData!=null">
                <if test="page.pageData.roleId != null">
                    AND a.id = #{page.pageData.id}
                </if>
                <if test="page.pageData.roleName != null">
                    AND a.role_name LIKE CONCAT('%', #{page.pageData.roleName}, '%')
                </if>
                <if test="page.pageData.roleCode != null">
                    AND a.role_code LIKE CONCAT('%', #{page.pageData.roleCode}, '%')
                </if>
                <if test="page.pageData.remark != null">
                    AND a.remark LIKE CONCAT('%', #{page.pageData.remark}, '%')
                </if>
                <if test="page.pageData.deleted!=null">
                    AND a.deleted = #{page.pageData.deleted}
                </if>
                <if test="page.pageData.deleted==null">
                    AND a.deleted = 0
                </if>
                <if test="page.pageData.createTimeStart!=null">
                    AND a.create_time &gt;= #{page.pageData.createTimeStart}
                </if>
                <if test="page.pageData.createTimeEnd!=null">
                    AND a.create_time &lt;= #{page.pageData.createTimeEnd}
                </if>
            </if>
        </where>
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.repository.dataobject.RoleDO">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.repository.dataobject.RoleDO">
        <include refid="relSelect"></include>
    </select>
</mapper>
