<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sys.repository.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.javabb.sys.repository.dataobject.UserDO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="email_verified" property="emailVerified" />
        <result column="true_name" property="trueName" />
        <result column="id_card" property="idCard" />
        <result column="birthday" property="birthday" />
        <result column="introduction" property="introduction" />
        <result column="org_id" property="orgId" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, `password`, nickname, avatar, sex, phone, email, email_verified, true_name, id_card, birthday, introduction, org_id, status, deleted, create_time, update_time
    </sql>
    <!-- 关联查询sql -->
    <sql id="relSelect">
        SELECT a.*, b.org_name, c.dict_data_name sex_name
        FROM sys_user a
        LEFT JOIN sys_org b ON a.org_id = b.id
        LEFT JOIN sys_dict_data c ON a.sex = c.id
        <where>
                <if test="userId != null and userId != ''">
                    AND a.id = #{userId}
                </if>
                <if test="username != null and username != ''">
                    AND a.username LIKE CONCAT('%', #{username}, '%')
                </if>
                <if test="email != null and email != ''">
                    AND a.email LIKE CONCAT('%', #{email}, '%')
                </if>

        </where>
            order by a.create_time desc
    </sql>
    <!-- 分页查询 -->
    <select id="listPage" resultType="cn.javabb.sys.model.dto.UserBaseDTO" parameterType="cn.javabb.sys.model.qry.UserQry">
        <include refid="relSelect"></include>
    </select>

    <!-- 查询全部 -->
    <select id="listAll" resultType="cn.javabb.sys.repository.dataobject.UserDO" parameterType="cn.javabb.sys.model.qry.UserQry">
        <include refid="relSelect"></include>
    </select>
</mapper>
