package ${package.Service};

import ${package.Entity}.${table.entityName};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${now}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${table.entityName}> {

}
